<!DOCTYPE html>
<html>
<head>
  <title>AirbnbClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <nav id="main-nav">
            <ul class="nav navbar-nav pull-left">
              <%= link_to "Airbnb", '#', id: "logo" %>
              <li><%= link_to "Home", '#' %></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
               <% if user_signed_in? %>
                 Logged in as <strong><%= current_user.email %></strong>.
                 <%= link_to 'Edit profile', edit_user_registration_path %> |
                 <%= link_to "Logout", destroy_user_session_path, method: :delete %>
               <% else %>
                 <%= link_to "Sign Up", new_user_registration_path %>
                 <%= link_to "Log In", new_user_session_path %>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



  <%= yield %>



</body>
</html>
